<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jakemcginty.voyager"
    android:versionCode="1"
    android:versionName="0.7" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/Theme.HoloEverywhereLight.DarkActionBar.Sherlock">
        <activity
            android:name="com.jakemcginty.voyager.ReportingActivity" label="@string/app_name" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.jakemcginty.voyager.VoyagerService" android:icon="@drawable/ic_launcher"></service>
        <service android:name="com.jakemcginty.voyager.internet.ReportPostService" android:icon="@drawable/ic_launcher"></service>
    </application>
</manifest>